@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('NunitoSans10pt-Regular.woff2') format('woff2'),
        url('NunitoSans10pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

